@import url("https://fonts.googleapis.com/css?family=Lora|Robot");
@import url("components/container.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: 'Lora', serif;
	font-size: 18px;
	margin: 0px;
	text-align: center;
}

h1, h2, {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

h2 {
	color: red;
	margin-top: 80px;
}

h3 {
	padding-right: 60px;
}

p {
	padding-left: 100px;
}