.card {
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 10px 10px 30px rgba(0,0,0,0.2);
	border-radius: 6px;
	margin: 20px;
	background-color: #2C2C2C;
	color: white;
}

.card img {
	width: 200px;
	border-radius: 6px;
}

.card h3 { 
	flex-grow: 1;
	padding-left: 20px;
	font-size: 24px;
}

